<div class="tabsdemoStaticTabs">
  <md-input-container class="md-block" flex-gt-sm>
        <label>Full name (ex. Jon Doe)</label>
        <md-icon><i class="material-icons">&#xE7FD;</i></md-icon>
        <input ng-model="fullname">
      </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
        <label>Email address (ex. jon@gmail.com)</label>
        <md-icon><i class="material-icons">&#xE0BE;</i></md-icon>
        <input ng-model="email">
      </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
        <label>Phone number (ex. 2011234562)</label>
        <md-icon><i class="material-icons">&#xE0CD;</i></md-icon>
        <input ng-model="phonenumber">
      </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
        <label>Website (ex. http://www.jon-doe.com)</label>
        <md-icon><i class="material-icons">&#xE157;</i></md-icon>
        <input ng-model="website">
      </md-input-container>

  <md-button class="md-raised md-primary" ng-click="saveBasicInfo()" md-colors="{background: 'green'}">Save</md-button>
  <md-button class="md-raised md-primary" href="#/experiences" md-colors="{background: 'deep-purple'}">Next ➔</md-button>
</div>
