<div>
  <section style="" class="splash-header">
    <div layout-align="center center" class="alignCenter md-headline mainHeadline">
      Welcome to Résumé Nation. Your one stop shop to create all the beautiful Résumés.
      Building a Résumé should be fun, simple and intuitive. Résumé Nation tries to give that overall experience.
      Fill in the required information like your personal info, work experience, education, skills, choose the style
      of the Résumé you want and voilà! you'll have your beautiful Résumé as an end product. Try yourself!
    </div>
    <div layout-align="center center" class="alignCenter startBtn">
      <md-button href="#/summary" class="md-raised md-primary material-cust-medium-button" md-colors="{background: 'green'}">Start building your Resume now ➔</md-button>
    </div>

  </section>

  <div class="functionalityIcons">
    <div layout="row" layout-xs="column">
      <div flex layout="column" layout-align="center center">
        <div class="md-list-item-text">
          <p>
            <md-icon style="color: #F44336;height:100%;width: inherit !important;font-size: 100px;"
                             aria-label="accessibility"
                             ng-class="md-48">
                             list
                          </md-icon>
          </p>
        </div>
        <div><p class="funcText">Fill in the required details.</p></div>
      </div>
      <div flex layout="column" layout-align="center center">
        <div class="md-list-item-text" layout-align="center center">
          <p>
            <md-icon style="color: #3949AB;height:100%;width: inherit !important;font-size: 100px;"
                             aria-label="accessibility"
                             ng-class="md-48">
                             create
                          </md-icon>
            </p>
        </div>
        <div><p class="funcText">Review all your changes.</p></div>
      </div>
      <div flex layout="column" layout-align="center center">
        <div class="md-list-item-text" layout-align="center center">
          <p>
            <md-icon style="color: #FFC107;height:100%;width: inherit !important;font-size: 100px;"
                             aria-label="accessibility"
                             ng-class="md-48">
                             file_download
                          </md-icon>
          </p>
        </div>
        <div><p class="funcText">Download your generated Resume.</p></div>
      </div>
    </div>
    <div layout="row" layout-xs="column">
      <div flex layout="column" layout-align="center center">&nbsp;</div>
      <div flex layout="column" layout-align="center center">
        <div class="md-list-item-text">
          <p>
            <md-icon style="color: #4caf50;height:100%;width: inherit !important;font-size: 100px;"
                             aria-label="accessibility"
                             ng-class="md-48">
                             offline_pin
                          </md-icon>
          </p>
        </div>
        <div><p class="funcText">Works Offline! All data get stored locally for next time usage.</p></div>
      </div>
      <div flex layout="column" layout-align="center center">&nbsp;</div>
    </div>
  </div>
  <footer>
      <div layout="row" layout-align="center center">
          <p>Made with <span style="color:red;">❤</span> by <a href="https://www.amitmerchant.com" target="_blank">Amit Merchant</a></p>
      </div>
  </footer>
</div>
