<div>
  <section style="" class="splash-header">
    <div layout-align="center center" class="alignCenter md-headline mainHeadline">
      Welcome to Resume Nation. Your one stop shop to create all the beautiful Resumes.
      Resume building has never been these easier. Fill in the required information like your personal info, work experience, education, skills
      and voilà! at the end of process you'll have your beautiful resume. Try yourself!
    </div>
    <div layout-align="center center" class="alignCenter startBtn">
      <md-button href="#/summary" class="md-raised md-primary material-cust-medium-button" md-colors="{background: 'green'}">Start building your Resume ➔</md-button>
    </div>

  </section>

  <div layout="row" layout-xs="column" class="functionalityIcons">
    <div flex layout="column" layout-align="center center">
      <div class="md-list-item-text">
        <p>
          <md-icon style="color: #D81B60;height:100%;width: inherit !important;font-size: 100px;"
                           aria-label="accessibility"
                           ng-class="md-48">
                           list
                        </md-icon>
        </p>
      </div>
      <div><p class="funcText">Fill in the required details</p></div>
    </div>
    <div flex layout="column" layout-align="center center">
      <div class="md-list-item-text" layout-align="center center">
        <p>
          <md-icon style="color: #3949AB;height:100%;width: inherit !important;font-size: 100px;"
                           aria-label="accessibility"
                           ng-class="md-48">
                           create
                        </md-icon>
          </p>
      </div>
      <div><p class="funcText">Review your changes</p></div>
    </div>
    <div flex layout="column" layout-align="center center">
      <div class="md-list-item-text" layout-align="center center">
        <p>
          <md-icon style="color: #FFC107;height:100%;width: inherit !important;font-size: 100px;"
                           aria-label="accessibility"
                           ng-class="md-48">
                           file_download
                        </md-icon>
        </p>
      </div>
      <div><p class="funcText">Download your generated Resume</p></div>
    </div>
  </div>
  <div layout="row" layout-wrap layout-align="center center" class="gifSection">
    <img src="images/resume-nation.gif" width="900" height="450" class="gifImage">
  </div>
  <footer>
      <div layout="row" layout-align="center center">
          <p>Made with <span style="color:red;">❤</span> by <a href="https://www.amitmerchant.com" target="_blank">Amit Merchant</a></p>
      </div>
  </footer>
</div>
