<div class="tabsdemoStaticTabs">
  <md-input-container class="md-block">
      <label>Write your nice little summery</label>
      <md-icon><i class="material-icons">&#xE896;</i></md-icon>
      <textarea ng-model="biography" md-maxlength="450" rows="5" md-select-on-focus></textarea>
    </md-input-container>
  <md-button class="md-raised md-primary" ng-click="saveSummery()" md-colors="{background: 'green'}">Save</md-button>
  <md-button class="md-raised md-primary" href="#/basicinfo" md-colors="{background: 'deep-purple'}">Next ➔</md-button>
</div>
